<section class="section mt-6">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-10">
          <p class="is-size-1 has-text-weight-bold has-text-centered">レビューを自由に</p>
          <br>
          <div class="columns is-centered">
            <div class="column is-3">
              <%= link_to "ログイン", new_user_session_path, class: "button is-fullwidth" %>
              <br>
              <%= link_to "新規登録", new_user_registration_path, class: "button is-fullwidth" %>
            </div>
          </div>
      </div>
    </div>
  </div>
</section>